@using WebStore.Models.Filters
@using WebStore.ViewModels
@using Domain.Models
@model WebStore.Models.Filters.ProductsFilters
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Каталог товарів";
}

@{
    IEnumerable<ProductView> prodList = ViewBag.Data;
    ProductsFilters filters = ViewBag.Filters;
}

<link href="~/css/catalog.css" rel="stylesheet">

@section Scripts {

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">

        $(".filter").change(function setStatus() {
            var filtersArr = [];
            var elements = document.getElementsByClassName('filter');
            for (let item of elements) {
                filtersArr.push({ Id: item.id, Checked: item.checked });
            }
            var filters = JSON.stringify(filtersArr);
            $.ajax({
                url: '/Filter/Filter',
                type: "POST",
                data: JSON.stringify(filters),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data);


                },
                error: function (response) {
                    console.log(response.responseText);
                },
                failure: function (response) {
                    console.log(response.responseText);
                }
            })
        });

        @*$(document).ready(function () {
            var prodList = @prodList;
            //for (property in prodList) {

            //}

        });*@


    </script>
}
<h2>Каталог товарів</h2>

<table class="table col-lg-8">
    <thead>
        <tr>
            <th class="col-lg-1">Фльтри</th>
            <th class="col-lg-7"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-lg-1">
                @using (Html.BeginForm("CatalogFilter", "Filter", FormMethod.Post))
                {
                    <fieldset>
                        <form asp-action="CatalogFilter">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div id="checkboxes">
                                <label>Тип металу:</label>
                                <ul>
                                    @foreach (ProductMetal item in filters.MetalList)
                                    {
                                        <li><input type="checkbox" class="filter" id="metal_@Html.DisplayFor(modelItem => item.Id)"> @Html.DisplayFor(modelItem => item.Name)</li>
                                    }
                                </ul>
                                <label>Колір:</label>
                                <ul>
                                    @foreach (ProductColorView item in filters.ColorList)
                                    {
                                        <li><input type="checkbox" class="filter" id="color_@Html.DisplayFor(modelItem => item.Id)"> @Html.DisplayFor(modelItem => item.Name)</li>
                                    }
                                </ul>
                                <label>Стать:</label>
                                <ul>
                                    @foreach (Gender item in filters.GenderList)
                                    {
                                        <li><input type="checkbox" class="filter" id="gender_@Html.DisplayFor(modelItem => item.Id)"> @Html.DisplayFor(modelItem => item.Name)</li>
                                    }
                                </ul>
                                <label>Тип виробу:</label>
                                <ul>
                                    @foreach (ProductType item in filters.TypeList)
                                    {
                                        <li><input type="checkbox" class="filter" id="type_@Html.DisplayFor(modelItem => item.Id)"> @Html.DisplayFor(modelItem => item.Name)</li>
                                    }
                                </ul>
                                <label>Новинки:</label>
                                <ul>
                                    @foreach (ProductStatus item in filters.StatusList)
                                    {
                                        <li><input type="checkbox" class="filter" id="status_@Html.DisplayFor(modelItem => item.Id)"> @Html.DisplayFor(modelItem => item.Name)</li>
                                    }
                                </ul>
                                <label>Наявніст:</label>
                                <ul>
                                    @foreach (ProductAvailabilityStatus item in filters.StatusAvList)
                                    {
                                        <li><input type="checkbox" class="filter" id="statusav_@Html.DisplayFor(modelItem => item.Id)"> @Html.DisplayFor(modelItem => item.Name)</li>
                                    }
                                </ul>
                            </div>
                        </form>
                    </fieldset>
                }
            </td>
            <td class="col-lg-7">
                <table class="table col-lg-9">
            <thead>
                <tr>
                    <th class="col-lg-2">Назва</th>
                    <th class="col-lg-1">Тип товару</th>
                    <th class="col-lg-1">Тип металу</th>
                    <th class="col-lg-1">Колір</th>
                    <th class="col-lg-1">Стать</th>
                    <th class="col-lg-1">Вага</th>
                    <th class="col-lg-1">Кількість</th>
                    <th class="col-lg-1">Ціна</th>
                </tr>
            </thead>
            <tbody id="productTable">
                @foreach (ProductView item in prodList)
                {
                    <tr>
                        <td class="col-lg-2">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="col-lg-1">@Html.DisplayFor(modelItem => item.ProductTypeName)</td>
                        <td class="col-lg-1">@Html.DisplayFor(modelItem => item.ProductMetalName)</td>
                        <td class="col-lg-1">@Html.DisplayFor(modelItem => item.ProductColorName)</td>
                        <td class="col-lg-1">@Html.DisplayFor(modelItem => item.GenderName)</td>
                        <td class="col-lg-1">@Html.DisplayFor(modelItem => item.Weight)</td>
                        <td class="col-lg-1">@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td class="col-lg-1">@Html.DisplayFor(modelItem => item.Price)</td>
                    </tr>
                }
            </tbody>
        </table>
                <table class="table col-lg-9" id="prodTable">

                </table>
            </td>
        </tr>
    </tbody>
</table>
