@model WebStore.ViewModels.ProductView
@{
    ViewData["Title"] = String.Concat("Товар: ", @Model.Name);
}

<h3>Перегляд Товару</h3>

<hr />
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="col-md-6">
            <tr>
                <td class="col-md-2">@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })</td>
                <td class="col-md-4">@Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td class="col-md-2">@Html.LabelFor(model => model.ProductType, htmlAttributes: new { @class = "control-label" })</td>
                <td class="col-md-4">@Html.DisplayFor(model => model.ProductTypeName, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td class="col-md-2">@Html.LabelFor(model => model.ProductMetal, htmlAttributes: new { @class = "control-label" })</td>
                <td class="col-md-4">@Html.DisplayFor(model => model.ProductMetalName, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td class="col-md-2">@Html.LabelFor(model => model.ProductColor, htmlAttributes: new { @class = "control-label" })</td>
                <td class="col-md-4">@Html.DisplayFor(model => model.ProductColorName, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td class="col-md-2">@Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })</td>
                <td class="col-md-4">@Html.EditorFor(model => model.GenderName, new { htmlAttributes = new { @class = "form-control"} })</td>
            </tr>
            <tr>
                <td class="col-md-2"><hr /></td>
                <td class="col-md-4"><hr /></td>
            </tr>
        </table>
    }

</div>
<input type="hidden" asp-for="Id" />
<div style="margin-top: 5px">
    <a asp-action="Index"><img src="~/images/arrow_left1.png"> До списку...</a>
</div>