@model WebStore.ViewModels.EmployeeView
@{
    ViewData["Title"] = String.Concat("Співробітник: ", @Model.Name);
}

<h3>Видалення співробітника</h3>

<hr />
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="col-md-6">
            <tr>
                <td class="col-md-2">@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })</td>
                <td class="col-md-4">@Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td class="col-md-2"><hr /></td>
                <td class="col-md-4"><hr /></td>
            </tr>
            @if (!String.IsNullOrEmpty(@Model.Message))
            {
                <tr>
                    <td class="col-md-2"></td>
                    <td class="col-md-4" style="color: red">@Html.DisplayFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
            }
            <tr>
                <td class="col-md-2"></td>
                <td class="col-md-4">
                    <button asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-default" style="border: none; background-color: Transparent;"><img src="~/images/delete_icon.png" title="Видалити" width="20" height="20" /> Видалити</button>
                </td>
            </tr>
        </table>
    }

</div>
<input type="hidden" asp-for="Id" />
<div style="margin-top: 5px">
    <a asp-action="Index"><img src="~/images/arrow_left1.png"> До списку...</a>
</div>